In [2]:
import pandas as pd

## read no encode csv

In [18]:
item_no_encode = pd.read_csv('../datasets/no_encoding.csv')
#item_id = item_no_encode["item_id"]
#item_no_encode=item_no_encode.drop(columns=["item_id"])
item_no_encode.head()

,item_id,10_1,11_1,12_1,13_1,14_1,15_1,16_1,17_1,18_1,...,68_1,69_1,6_1,70_1,71_1,72_1,73_1,7_1,8_1,9_1
0,2,0.0,0.0,0.0,0.0,0.0,0.0,38.0,0.0,0.0,...,351.0,885.0,0.0,0.0,0.0,75.0,0.0,394.0,0.0,0.0
1,3,0.0,859.0,0.0,0.0,0.0,0.0,0.0,378.0,817.0,...,14.0,592.0,0.0,0.0,0.0,75.0,544.0,452.0,0.0,0.0
2,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,378.0,289.0,...,373.0,538.0,0.0,0.0,0.0,75.0,544.0,837.0,0.0,0.0
3,7,0.0,0.0,0.0,0.0,0.0,133.0,0.0,0.0,0.0,...,739.0,592.0,0.0,0.0,0.0,75.0,0.0,536.0,0.0,0.0
4,8,0.0,735.0,0.0,0.0,0.0,0.0,0.0,378.0,817.0,...,351.0,592.0,0.0,0.0,0.0,75.0,544.0,798.0,0.0,0.0

In [35]:
#normalize by col
cols = list(item_no_encode.columns[1:])
for col in cols:
    col_mean = item_no_encode[col].mean()
    col_std = item_no_encode[col].std()
    item_no_encode[col] = item_no_encode[col].apply(lambda x:(x-col_mean)/col_std)
item_no_encode.head()

,item_id,10_1,11_1,12_1,13_1,14_1,15_1,16_1,17_1,18_1,...,68_1,69_1,6_1,70_1,71_1,72_1,73_1,7_1,8_1,9_1
0,2,-0.208012,-0.497988,-0.25537,-0.071845,-0.15321,-0.469641,0.794201,-1.018485,-0.456693,...,-0.336008,1.071298,-0.264768,-0.172988,-0.145533,-0.423388,-0.987598,-0.117550,-0.278755,-0.072062
1,3,-0.208012,2.735158,-0.25537,-0.071845,-0.15321,-0.469641,-0.135976,0.982622,3.081340,...,-1.746646,-0.001409,-0.264768,-0.172988,-0.145533,-0.423388,1.072686,0.080247,-0.278755,-0.072062
2,4,-0.208012,-0.497988,-0.25537,-0.071845,-0.15321,-0.469641,-0.135976,0.982622,0.794827,...,-0.243919,-0.199109,-0.264768,-0.172988,-0.145533,-0.423388,1.072686,1.393206,-0.278755,-0.072062
3,7,-0.208012,-0.497988,-0.25537,-0.071845,-0.15321,0.199829,-0.135976,-1.018485,-0.456693,...,1.288110,-0.001409,-0.264768,-0.172988,-0.145533,-0.423388,-0.987598,0.366711,-0.278755,-0.072062
4,8,-0.208012,2.268441,-0.25537,-0.071845,-0.15321,-0.469641,-0.135976,0.982622,3.081340,...,-0.336008,-0.001409,-0.264768,-0.172988,-0.145533,-0.423388,1.072686,1.260205,-0.278755,-0.072062

## read onehot

In [36]:
item_freq_encode = pd.read_csv('../datasets/item_freq_vec.csv')
item_freq_encode.head()

,item_id,10_147,10_159,10_184,10_217,10_22,10_287,10_361,10_407,10_464,...,7_837,7_838,8_157,8_323,8_420,8_636,9_175,9_178,9_190,9_369
0,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## make one hot + no encoding csv

In [38]:
item_no_n_onehot = pd.merge(item_freq_encode,item_no_encode, on='item_id')
item_no_n_onehot.head()

,item_id,10_147,10_159,10_184,10_217,10_22,10_287,10_361,10_407,10_464,...,68_1,69_1,6_1,70_1,71_1,72_1,73_1,7_1,8_1,9_1
0,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.336008,1.071298,-0.264768,-0.172988,-0.145533,-0.423388,-0.987598,-0.117550,-0.278755,-0.072062
1,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.746646,-0.001409,-0.264768,-0.172988,-0.145533,-0.423388,1.072686,0.080247,-0.278755,-0.072062
2,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.243919,-0.199109,-0.264768,-0.172988,-0.145533,-0.423388,1.072686,1.393206,-0.278755,-0.072062
3,7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.288110,-0.001409,-0.264768,-0.172988,-0.145533,-0.423388,-0.987598,0.366711,-0.278755,-0.072062
4,8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.336008,-0.001409,-0.264768,-0.172988,-0.145533,-0.423388,1.072686,1.260205,-0.278755,-0.072062

In [39]:
item_no_n_onehot.to_csv("../datasets/item_no_n_onehot.csv")