In [1]:
import pandas as pd
import numpy as np

### 73 columns 的one-hot encoding
/記得替換路徑/

In [4]:
item_feature_73=pd.read_csv("../datasets/item_features.csv")
item_feature_73["frequence"]=np.ones((len(item_feature_73),1))
item_feature_73

        item_id  feature_category_id  feature_value_id  frequence
0             2                   56               365        1.0
1             2                   62               801        1.0
2             2                   68               351        1.0
3             2                   33               802        1.0
4             2                   72                75        1.0
...         ...                  ...               ...        ...
471746    28143                   68               351        1.0
471747    28143                   55               390        1.0
471748    28143                   11               109        1.0
471749    28143                   73                91        1.0
471750    28143                   47               549        1.0

[471751 rows x 4 columns]

In [5]:
item_feature_73 = item_feature_73.pivot_table(index="item_id", columns="feature_category_id",values="frequence")
item_feature_73 = (item_feature_p.fillna(0))
item_feature_73

NameError: name 'item_feature_p' is not defined

### 讀取904 columns的one-hot encoding
此處的item_freq_vec.csv 來自WSM_Pre_Ma.ipynb的第In[10]格，記得先去生成檔案且替換路徑

In [8]:
item_feature_904=pd.read_csv("../datasets/item_freq_vec.csv")
item_feature_904.set_index('item_id',inplace=True)
item_feature_904

,10_147,10_159,10_184,10_217,10_22,10_287,10_361,10_407,10_464,10_561,...,7_837,7_838,8_157,8_323,8_420,8_636,9_175,9_178,9_190,9_369
item_id,,,,,,,,,,,,,,,,,,,,,
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28139,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28140,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28141,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28142,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28143,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### 將兩個dataframe合併為977 columns

In [9]:
item_feature_977 = pd.merge(item_feature_904,item_feature_73, on='item_id')
item_feature_977

,10_147,10_159,10_184,10_217,10_22,10_287,10_361,10_407,10_464,10_561,...,64,65,66,67,68,69,70,71,72,73
item_id,,,,,,,,,,,,,,,,,,,,,
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,1.0,NaN
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,1.0,NaN,NaN,1.0,1.0,NaN,NaN,1.0,1.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,1.0,NaN,NaN,1.0,1.0,NaN,NaN,1.0,1.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,1.0,NaN
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,1.0,NaN,NaN,1.0,1.0,NaN,NaN,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28139,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,1.0,NaN,NaN,1.0,1.0,NaN,NaN,1.0,1.0
28140,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,NaN,NaN,1.0,1.0,NaN,NaN,1.0,NaN,1.0
28141,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,1.0,1.0
28142,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,1.0,NaN,NaN,1.0,1.0,NaN,NaN,1.0,1.0
28143,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,1.0,1.0

### 儲存檔案
/記得替換路徑/

In [22]:
#item_feature_977.to_csv("../datasets/item_feature_977.csv")